.classDivHeading{
	position: absolute;
	margin: -73px 0px 0px 127px;
	color :rgb(239, 73, 41);
}
.siteTitleColour{
	color:rgb(68, 181, 181);
	font-weight: normal;
}
.classDivSiteLogo{
	background: url("../images/logo.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	width: 116px;
	height: 59px;
	margin: 5px 0px 5px 0px;
}
.classLogoSet{
	width: 159px;
	height: 72px;
}
.classSubHeadDiv{
	margin: -6px 0px 0px 46%;
	width: 100%;
}
.classSiteDesc{
	font-size: 13px;
}
.classDivRightSrc{
	float: right;
	text-align: right;
	margin: -65px 0px 0px 0px
}
.classDivHrHeader{
	height: 2px;
	margin-top: -19px;
	background-color: rgb(172, 221, 74);
	/*background: none repeat scroll 0% 0% rgb(42, 102, 175);*/
}
.classDivBorderBottom{
	border-bottom: 1px solid rgb(172, 221, 74);
}
.classDivContactNumber{
	padding: 0px;
	margin-bottom: 10px;
}
.classDivFooterFoot{
	height: 20px;
	background-color: #000000;
	bottom: 0px;
	z-index: 100;
	margin: 0px;
}
.site-header {
	/*padding-top: 10px;
	background: none repeat scroll 0% 0% rgb(225, 225, 225);
	padding: 0px 2.85714rem;*/
	background-color: #ffffff;
	/*padding: 24px 0;
	padding: 1.714285714rem 0;*/
}
.classSiteHeaderPad{
	padding-top: 0px;
}
.classButtonWarning{
	background-color: rgb(237, 156, 40);
}
.classDivDispProduct{
	border-bottom: 1px solid #eeeeee;
	padding:0px 5px 0px 5px;
	min-height: 200px;
}
.classDivPageHeadBack{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
	border: 1px solid #eeeeee;
	margin: 0px;
	height: 35px;
	position: relative;
	background: url("../images/topcontent_bg.png") repeat-x scroll left bottom rgb(255, 255, 255);
	border-left: 4px solid rgb(68, 181, 181);
}
.classDivSidebarData{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #eeeeee;
	margin: 3px 0px 3px 0px;
	padding: 10px;

}
.classDivSubPageHead{
	padding: 0px 0px 5px 10px;
	font-size: 20px;
	color :rgb(239, 73, 41)
}
.classDivSidebarPageHead{
	padding: 5px 0px 5px 10px;
	font-size: 20px;
	color :rgb(239, 73, 41)
}
.classDivInnerProductDetail{
	float: left;
	margin: 0px;
	padding: 20px;
	/*box-shadow:0px 5px 5px 0px #eeeeee inset; */
	
}
.classDivProductMainPage{
	
}
.classPressImagesSizs{
	width: 200px;
	height: 80px;
}
.classProductImage{
	width: 180px;
	height: 100px;
}
.classDivEmailInput{
	margin: 5px;
	line-height: 20px;
}
.header_phone{
	float: right;
	padding-left: 22px;
	background: url('../images/header_phone.png') left center no-repeat;
	margin: 5px 0px 5px 20px;
}
.header_mail{
	float: right;
	padding-left: 23px;
	background: url('../images/header_mail.png') left center no-repeat;
	margin: 5px 0px 5px 20px;
}
.classDivCustomNavMenu{
	float: right;
	margin: 30px 0px 0px 0px;
	position: absolute;
	right: 0px;
	/*padding: 0px 2.85714rem;*/
}
.classTextAlignRight{
	text-align: right;
	float: right;
}
/* ---------------------------------------------------------------------- */
/* Footer
/* ---------------------------------------------------------------------- */
#footer {
	color: #999;
	background-color: #383838;	
	border-top: 5px solid #e5e5e5;
	margin-top: 60px;
}

#footer h2,
#footer h3 {
	color: #e5e5e5;	
}

#footer h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid #4c4c4c;	
	margin-bottom: 25px;
}

#footer-top {
	overflow: hidden;	
	padding: 20px 0 20px;
}

#footer-top a:hover {
	color: #e5e5e5;
}

#footer-bottom {
	overflow: hidden;
	padding: 8px 0;
	border-top: 1px solid #4c4c4c;	
	font-size: 0.916em; /* 11px */
}

#footer-bottom a {
	color: #bfbfbf;
}

#footer-bottom p {
	margin: 0;
}

#footer-nav ul {
	text-align: right;
}

#footer-nav ul li {
	display: inline;	
}

/* ---------------------------------------------------------------------- */
/* Widgets
/* ---------------------------------------------------------------------- */
.widget {
	margin: 0px auto;
}
.widget h3{
	font-size: 18px;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 10px;
	font-weight: normal;
}

#sidebar .widget {
	margin-bottom: 30px;
}

/* Latest Posts */

.latest-posts li {
	background: url("../images/footer/pencil-footer.png") no-repeat left 0.333em; /* 4px */
	padding-left: 21px;	
	margin-bottom: 20px;
}

.latest-posts li > a {
	display: block;
}

.latest-posts li > span {
	display: block;
	font-size: 0.916em; /* 11px */
	margin-top: 5px;
	font-style: italic;
}

/* Twitter */

.twitter-widget ul li {
	background: url("../images/footer/twitter-bullet-footer.png") no-repeat left 0.333em; /* 4px */
	padding-left: 26px;
	margin-bottom: 20px;	
	word-wrap: break-word; /* for Chrome */
}

.twitter-widget ul li > span {
	display: block;
}

.tweet_time {
	font-size: 0.916em; /* 11px */
	margin-top: 5px;
	font-style: italic;
}

#footer-top .tweet_time a {
	color: #bfbfbf;
}

/* Flickr */

.flickr-widget ul {
	margin-right: -5px;
}

.flickr-widget ul li {
	float: left;
	margin: 0 5px 5px 0;
}

.flickr-widget ul img {
	width: 70px;
	height: 70px;
}
.classNoDecoration{
	text-decoration: none;
	line-height: 20px;
}
.classDivOverFlowHidden{
	overflow:hidden;
}
.classdlogFeed a{
	text-decoration: none;
	color: black;
}
.classReadMoreFont{
	font-size: 12px;
}
.classDivTwitHeight{
	max-height: 45px;
}
.classTwitReamMoreMargin{
	margin: 0px 0px 10px 0px;
}
/* Contact Info */

.contact-info p {
    background-repeat: no-repeat;
    padding-left: 23px;
	margin-bottom: 15px;
}

.contact-info .address {
	background-image: url("../images/contact/home.png");
	background-position: left 0.193em; /* 1px */
}

#footer .contact-info .address {
	background-image: url("../images/footer/contact/home-footer.png");
}

.contact-info .phone {
	background-image: url("../images/contact/phone.png");
	background-position: left 0.193em; /* 1px */
}

#footer .contact-info .phone {
	background-image: url("../images/footer/contact/phone-footer.png");
}

.contact-info .fax {
	background-image: url("../images/contact/fax.png");
	background-position: left 0.166em; /* 2px */
}

#footer .contact-info .fax {
	background-image: url("../images/footer/contact/fax-footer.png");
}

.contact-info .email {
	background-image: url("../images/contact/mail.png");
	background-position: left 0.5em; /* 3px */
}

#footer .contact-info .email {
	background-image: url("../images/footer/contact/mail-footer.png");
}

.contact-info .business-hours {
	background-image: url("../images/contact/clock.png");
	background-position: left 1px; 
}

.contact-info .social-links {
	margin-top: 20px;
}
.classNoTextDecor{
	text-decoration: none;
}
/* Social Links */

.social-links ul {
	overflow: hidden;
	margin-right: -6px;	
}

.social-links li {
	float: left;
	margin: 0 6px 6px 0;
}

.social-links a {
	display: block;
	width: 25px;
	height: 25px;
	background-position: left top;
	background-repeat: no-repeat;	
	text-indent: -10000em;
}

.social-links li.twitter a {
	background-image: url("../images/ICON-PSD/twitter-icon.png");
	/*background-position: left -25px;*/
}

.social-links li.facebook a {
	background-image: url("../images/ICON-PSD/facebookIcon.png");
}

.social-links li.google a {
	background-image: url("../images/ICON-PSD/google-icon.png");
}

.social-links li.youtube a {
	background-image: url("../images/ICON-PSD/youtube.png");
}

.social-links li.skype a {
	background-image: url("../images/social-media/skype-circular.png");
}
.social-links li.linkdin a {
	background-image: url("../images/ICON-PSD/linkdin-icon.png");
}
.social-links li.slideshare a {
	background-image: url("../images/ICON-PSD/slideshare-icon.png");
}
.social-links li.rss a {
	background-image: url("../images/ICON-PSD/blog-icon.png");
}

.social-links a:hover {
    /*background-position: left -25px;*/
}
.classTwitImageUser{
	border: 0.5px solid rgb(105, 105, 105);
	width: 30px;
	height: 30px;
}
.classTwitAlign{
	margin: -45px 0px 0px 44px;
}
/* Menu with Separators */

.widget ul.menu li {
	border-bottom: 1px dotted #ccc;
}

.widget ul.menu li > a {
	display: block;
    color: #383838;
    padding: 5px 0 5px 11px;
	background: url("../images/bullets-and-arrows/arrow-right.png") no-repeat left 0.833em; /* 10px */
}

/* Tags */

ul.tags li {
	float: left;
	margin: 0 5px 5px 0;
}

ul.tags a {
	display: block;
	background-color: #e5e5e5;
	color: #383838;
	padding: 5px 10px;
}

ul.tags a:hover {
	color: #fff;
}

/* ---------------------------------------------------------------------- */
/* Scroll to Top
/* ---------------------------------------------------------------------- */
#toTop, #toTopHover {
	background: no-repeat url("../images/scroll-top.png") center center;
	width: 30px;
	height: 30px;
	overflow: hidden;
	bottom: 30px;
	right: 20px;
	text-indent: -10000em;
	position: fixed;
}

#toTop {
	display: none;
	background-color: #999;
}

#toTopHover {
	display: block;
	opacity: 0;
}

#toTop:active, #toTop:focus {
	outline: none;
}
.one-fourth {
    width: 23.5%;
    max-width: 260px;
    padding: 0px auto;
}
.one-half, .one-third, .one-fourth, .two-thirds, .three-fourths {
    display: inline;
    float: left;
    margin-right: 2%;
}
.column-last {
    margin-right: 0px !important;
}
#footer .contact-info .address {
    background-image: url("../images/footer/contact/home-footer.png");
}
.contact-info .address {
    background-image: url("../images/contact/home.png");
    background-position: left 0.083em;
}
.contact-info p {
    background-repeat: no-repeat;
    padding-left: 23px;
    margin-bottom: 15px;
}
p {
    margin-bottom: 10px;
    text-align:justify;
}
.header_search form {
	margin-bottom: 0;
}

#s{
	float: right;
	position: relative;
	top: 0px;
	right: -22px;
	width: 150px;
	margin-bottom: 0;
	/*border: 1px solid #eeeeee;*/
	padding: 3px 30px 5px 8px;
	font-size: 13px;
	/*color: #ccc;
	background: #fbfbfb;*/
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .05);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .05);

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#s:focus {
	width: 180px;
	/*border: 1px solid #eeeeee;
	color: #888;*/
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .05);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .05);
}
#s:hover {
	width: 180px;	
}
.button_search{
	float: right;
	position: relative;
	top: 1px;
	right: 7px;
	padding: 0;
	vertical-align: middle;
	/*background: url('../images/button_search.png') center center no-repeat;*/
	background: transparent;
	width: 22px;
	height: 25px;
	cursor: pointer;
	border: none;
	z-index: 100;
	box-shadow: none;
	border-left: 2px solid #eeeeee;
	padding: 0px 0px 0px 4px;
}
.button_search:hover{
	/*background: url('../images/button_search.png') center center no-repeat;*/
	background: transparent;
	border: none;
	border-left: 2px solid #eeeeee;
	padding: 0px 0px 0px 4px;

}

#footer-sidebar {
display:block;
}

#footer-sidebar1 {
float: left;
margin-right:5px;
}
#footer-sidebar1 a{
text-decoration: none;
}
#footer-sidebar2 {
float: left;
margin-right:5px;
}

#footer-sidebar3 {
float: left;
}
/* ---------------------------------------------------------------------- */
/* Start: CSS for Homepage body.
/* ---------------------------------------------------------------------- */
.classBodyDiv{
	width:1000px;
	height:100%;
	margin:auto auto;
}
#idHomeMainBody{
	width:100%;
	min-height:800px;
}
.classHomeMainBodyContainerDiv{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.classReadMore{
	font-size: 10px;
	color: #999999;
	float:right;
}
.classBigFont{
	font-size: 14px;
}
/* Start : Home page main body header div*/
#idHomeMainBodyMainHeader{
	width:100%;
	height:178px;	
	margin-bottom:20px;
	position: relative;
}
.classTilesShadowImage{
	height: 20px;
	width: 100%;
	margin: 10px 0px 0px 0px;
	opacity: 1;
}
.classRightMarginTile{
	margin-right: 0px;

}
.classBodyHeaderContainerItem{
	width: 18.8%;
	float: left;
	margin-right: 5px;
	text-align: center;
	line-height: 20px;	
	
}
.classTileWithShadow{
	border: 1px solid #efefef;
	height: 130px;
	margin-top: 10px;
}
.classContainerItemText a{
	text-decoration: none;	
	color:#000000;
}
.classContainerItemImg{
	width:100%;	
	height: 45%;
	margin-left: auto;
	margin-top: 5px;
	margin-right: auto;		
	vertical-align: center;
}

.classContainerItemText{
	width:90%;
	height: 50%;	
	vertical-align: center;
	color:#000000;
	font-weight: normal;
	font-size: 16px;
	font-family: "Open Sans","Segoe UI","Helvetica Neue", sans-serif;
	margin-left: auto;
	margin-right: auto;	
}

/* End : Home page main body header div*/

/* Start : Home page main body body div*/

.classHomeMainBodyMainBody{
/*	width: 1000px;*/
	min-height: 460px;
	padding: 20px;
	background-color: #efefef;
	border-top: 3px solid rgb(215,211,168);
	border-bottom: 2px solid #cccccc;
	background: #efefef;

}

.classBodyContainer{   	
	width: 30%;
	margin: 1% 0px 0px 3%;
	text-decoration: none;
	float: left;
}
.classBodyContainerIcon{
    width: 0px;
    height: 50px;
    float: left;
    margin: auto;
}
.classBodyContainerIcon img{
	width:55px;
	height:55px;
}
.classBodyContainerText{
    height: 55px;
    width: 230px;
    padding: 5px;
    margin: 0px 0px 0px 61px;
    vertical-align: middle;
    color: rgb(85, 85, 85);
    font-size: 16px;
    font-family: "Open Sans","Segoe UI","Helvetica Neue",sans-serif;
}

.classBodyContainer a{
	text-decoration: none;
}
.classBodyContainerText:hover{
	color:#000000;
}

/* End : Home page main body body div*/

/* Start : Home page main body footer div*/


.classFooterContainerItem{
	width: 31%;
	height: 100%;
	float: left;
	margin: 3% 2% 3% 0%;
	overflow: hidden;
}
.classFooterContainerItemFirst{
	margin-left:0px;
}
.classFooterContainerItemHead{
	border-bottom:3px solid rgb(215,211,168);
	padding-bottom: 10px;	
	font-size: 16px;
}
.classFooterContainerItemText{
	text-align: left;	
	width:95%;		
	margin-top: 10px;
	line-height: 25px;	
}
/* End : Home page main body footer div*/


/* ---------------------------------------------------------------------- */
/* End: CSS for Home page body.
/* ---------------------------------------------------------------------- */