
/*@font-face
{
font-family: helvetica-neue-bold;
src: url(./font/MYRIADPRO-REGULAR.OTF);

src: url(./font/HelveticaNeueLTStd-Ex.otf);*/
/*src: url(./font/helvetica-neue.ttf);
}
@font-face
{
font-family: helvetica-neue-Light;*/
/*src: url(./font/MYRIADPRO-REGULAR.OTF);
src: url(./font/HelveticaNeueLTStd-Lt.otf);*/
/*src: url(./font/HelveticaNeueLTStd-Lt.otf);*/
/*src: url(./font/HelveticaNeueLTPro-Lt.otf);
}*/
/*@font-face
{
font-family: helvetica-neue-bold;
/*src: url(./font/MYRIADPRO-REGULAR.OTF);
src: url(./font/HelveticaNeueLTStd-Bd.otf);
}*/

/*
@font-face
{
font-family: helvetica-neue-bold;
/*src: url(./font/MYRIADPRO-REGULAR.OTF);*/
/*src: url(../font/helvetica-neue-bold.ttf);
} 
@font-face
{
font-family: helvetica-neue-light;
/*src: url(./font/MYRIADPRO-REGULAR.OTF);*/
/*src: url(../font/helvetica-neue.ttf);
} 
*/
/*
@font-face
{
font-family: helvetica-neue-bold;

src: url(../font/segoeuib.ttf);

} 
@font-face
{
font-family: helvetica-neue-light;

src: url(../font/segoeui.ttf);

}

*/

body{
background: none repeat scroll 0% 0% rgb(198, 198, 198);
margin: auto;
width: 1100px;
}
.classDivMain{
	/*width:1000px;*/
	width:1100px;
	margin:auto;	
	font-family: arial,helvetica;
	/*font-family:helvetica-neue-light !important;*/
    background: none repeat scroll 0% 0% #fff;
    position: relative;
    display: inline-block;
}

.classDivMainHeader{
	width:100%;
	min-height:130px;
	font-family: arial,helvetica;	
	/*font-family:helvetica-neue-light !important;*/
}
.classDivMainHeaderBottomBorder{
border-bottom: 5px solid #c6c6c6;
padding-bottom: 10px;
}
.classSpanHeaderSocialItem{
	display: inline-block;	
	padding: 10px;
	text-align: center;
	text-transform:uppercase;
}
.classSpanHeaderSocialItem a{
	text-decoration: none;
}

.classDivNavigation{
	text-align: right;
float: right;

/*font-family: helvetica-neue-light !important;*/
}
.classMainSliderDiv{
	width:100%;
	height:550px;
	margin-top: 15px;	
  position: relative;
}
.classDivInfo{
  top: 0px;
position: absolute;
margin: 60px 0px 0px 90px;
color: rgba(255, 255, 255, 0.65);
}
.classBannerImg{
  position: relative;
  width: 100%;
}

.classDivMainBody{
	width:100%;
	/*font-family: helvetica-neue-light !important;*/
	/*text-shadow:0px 0px 0px rgb(109, 111, 113) !important;*/
letter-spacing: 1px;
}
.classDivMainBodyTopMargin{
	margin-top: -30px;
}

.classMainBody1{
	margin:20px auto 20px auto;
}

.classMainBody1 #idBodyMyTab li{
	width:33%;
}

.classAboutUsText{
width: 95%;
margin: auto;
padding: 20px;
}
.classDivTextWrapper{
width: 95%;
margin: auto;
padding: 20px;
}
.classDivBLContainer{
	min-width: 40%;
	max-width: 60%;
	float: right;
	text-align: right;
	margin-top: 20px;
}
.classSpanBL{	
float:left;
margin: 0px 10px;
text-align: center;
max-width: 50%;
min-width: 10%;

}
.classImgBL{
float:left;
width:30px;
margin-right:5px;	
cursor: pointer;
}
/* Footer CSS Start*/
.classDivMainFooter{
	width:100%;	
	/*background-color:#555;*/
	background: url(../images/bg.png);
	float:left;
}
.classDivMainFooter1{
	padding: 5px 10px 0px 10px;
	color:#aaa;
	height:210px;
	border-bottom: 2px solid #eee;
}

.classDivFooterPannelHead{
	border-bottom: 2px solid #eee;
	color:#eee;	
}
.classSpanFooterPannelHead{
	display: inline-block;
	min-width:22%;
	text-align: left;
	font-size: 19px !important;	
	margin-left: 5px;	
}
.classSpanFooterItem{
	display: inline-block;
	width:100%;
	line-height: 20px;
	color:#aaa ;
	margin-left: 20px;
}
.classSpanHeaderSocialItemIcon{
	width: 20px;	
	margin: -6px -2px -6px -6px;
}

.classSpanFooterItem a{
	text-decoration: none;
	color:#aaa ;
}
.classSpanFooterItem a:hover{
	color:#fff;
	text-decoration: none;
}

#idDivAddInFooter{
background: url(../images/req/fhome-white.png) no-repeat 0px 0px;
/*background: url(./images/req/fhome-black.png) no-repeat 0px 0px; For black*/
background-size: 6%;
}

#idDivPhoneInFooter{
background: url(../images/req/fphone-white.png) no-repeat 1px 5px;
/*background: url(./images/req/fphone-black.png) no-repeat 1px 5px; For black Icon*/
background-size: 6%;
}
.classDivBenefitsInFooter{
/*background: url('./images/benefit_icon.png') no-repeat scroll 1px 5px / 8% auto transparent;
*/
padding-left: 30px;
line-height: 30px;	
}
.classDivPhoneIcon{
background:rgba(0, 68, 128, 0.59) url(../images/req/fphone-white.png) no-repeat 1px 5px;
background-position: 7px 8px;
}
.classDivHomeIcon{
background:rgba(0, 68, 128, 0.59) url(../images/req/fhome-white.png) no-repeat 0px 0px;
background-position: 8px 5px;
}
.classDivContactMap{
width: 45%;
float:left;

}
.classDivContactText{
width: 80%;
float: left;
margin: auto;
padding: 20px;
color: #6D6F71;
margin: -13px 0px 0px 0px;
font-size: 21px;
}
.classDivContactTextWrapper{
width: 45%;
float: left;
margin: auto;
padding: 20px;
color: #555;
margin: -13px 0px 0px 0px;
font-size: 21px;
}
.classAddressMargin{
  margin: 33px 0px 0px 0px;
  clear: both;
}
.classContactIcon{  
position: relative;
width: 40px;
height: 40px;
display: inline-block;
float: left;
border-radius: 50px;
background-size: 25px;
clear: both;
}
.classImgBenefitsFooter{
position: absolute;
width: 40px;
padding: 1px;
border: 1px solid #FFF;
border-radius: 50px;
margin-left: -50px;
margin-top: -5px;
}
.classFooterIcons{
	padding: 0px 3px 0px 25px;
	line-height: 25px;
}

.classDivFooterPannel{
	width: 18%;
	float:left;
	margin: 20px;
}

.classDivFooterPannel2{
width: 30% !important;
}



.classDivMainFooter2{	
	color:#fff;	
	height:25px;
	background-color: #444;
	text-align: right;
	padding-right: 20px;
}
.classSpanTermAndCondition{
color: #AAA;
width: 48%;
margin-top: -18px;
margin-left: 40px;
}
.classSpanLeftTermAndCondition{
float: left;
text-align: left;
}
.classSpanRightTermAndCondition{
float: right;
}

.classSpanTermAndCondition a{
	text-decoration: none;
	color: #aaa;
}
.classSpanLeftTermAndCondition a
 {
	text-decoration: none;
	color: #aaa;
}
/*Footer CSS END*/


.classDivMainHeader1{
	height: 125px;
padding-right: 35px;
}
.classDivMainHeaderBottomBorder{
border-bottom: 5px solid #c6c6c6;
}
.classDivMainHeader1 .classMainHeaderSocial{
	text-align: right;
}
.classGrey14BFont{
color: #808085;
font-family: arial,helvetica;
/*font-weight: bold;*/
font-size: 14px;
}
.classSpanHeaderSocialItem a{
	text-decoration: none;
	color: #808085;
}

.classDivTabs{
	min-height: 400px;
	border: 1px solid #eee;
}
.classDivSearchBox{
	float:right;
	text-align: right;
	margin-right: 0px;
	margin-bottom:15px;
}

.classGoButton{
/*height: 31px;
padding-top: 3px;*/
color: #fff;
font-size: 17.8px;
background: linear-gradient(#5E91BE, #004480);
background: -moz-linear-gradient(#5E91BE, #004480);
background: -webkit-gradient(linear, left top, left bottom, from(#5E91BE), to(#004480));    
background: -webkit-linear-gradient(#5E91BE, #004480);
background: -o-linear-gradient(#5E91BE, #004480);
background: -ms-linear-gradient(#5E91BE, #004480);
border: medium none;
padding: 6px;
-webkit-padding:6px;
-moz-padding:6px;
-o-padding:6px;
-ms-padding:6px;
/*padding-bottom: 1px;*/
margin-top: 2px;
line-height: 20px;
}
.classSearchBox{
	height: 30px !important;
	padding:4px 4px 3px 4px !important;
	width: 270px !important;
	font-size: 17.8px;
	color: #808285;
	outline: 0;
	border: none;
	border-radius:0px;
	background: #dcdddf;
}
.classNavCustom{	
	float: right;
	font-size: 16px!important;
}

.classNavCustom li a{
padding: 5px 5px 0px 5px !important;
color: #797777!important;
border-bottom: 2px solid #c6c6c6;
}
.classNavCustom li{
background: none;
padding: 5px 0px 5px 0px;
}
.classNavCustom li a:active
{ 
	color: #004480 !important;
/*border-bottom:2px solid #004480;*/
}
.classNavCustom li a:hover{
color: #004480 !important;
/*border-bottom:2px solid #004480;*/
background: none;
}
.classSearchForm{
margin-top: 10px;	
}
.classImgLogo{
position: absolute;
margin-left: 45px !important;
margin-top: -80px !important;
z-index: 1;
width:135px;
}
.classUlTabCustom{
	border:none!important;
	background: none !important;
	width: 65%;
	float: right;
	z-index: 2 !important;
	margin-top: -85px;
margin-bottom: 60px;
}
.classUlTabCustom li{
	width:33%!important;
	background: none;
	text-align: center;		
	margin:3px 0px 0px 0px;	
}
.classUlTabCustom li a{
	width: 100%;
	font-size: 20px !important;
	font-weight: bold;
	color:#357ebd !important;
	text-decoration: none;
	/*font-family: open sans,helvetica,serif;
	font-family:open sans,Myriad Pro,serif !important;
	font-family:helvetica-neue-bold !important;*/  

}
#tab1{
background: url("../images/B.png") no-repeat 0px 0px;
background-size: 100%;
float: right;
width: 250px;
position: relative;
text-align: center;
line-height: 35px;
margin-right: -60px;
z-index: 3 !important;
}
#tab1 a{
color:#004480;
}
#tab2{
background: url("../images/B.png") no-repeat 0px 0px;
background-size: 100%;	
float: right;
width: 250px;
position:relative;
text-align: center;
line-height: 35px;
margin-right: -60px;
z-index: 4 !important;
}

#tab3{
background: url("../images/F.png") no-repeat 0px 0px;
background-size: 100%;
float: right;
width: 250px;
position:relative;
text-align: center;
line-height: 35px;
z-index: 5 !important;
}
#tab3:hover{
/*background: url("./images/front-hover.png") no-repeat 0px 0px;*/
background: url("../images/F.png") no-repeat 0px 0px;
background-size: 100%;
z-index: 6 !important;

}
#tab2:hover{
background: url("../images/F.png") no-repeat 0px 0px;
background-size: 100%;
z-index: 6 !important;	
}
#tab1:hover{
background: url("../images/F.png") no-repeat 0px 0px;
background-size: 100%;
z-index: 6 !important;	
}
#tab1 a:hover{
	color:#004480;
}
#tab2 a:hover{
	color:#004480;
}
#tab3 a:hover{
	color:#004480;
}
.classDivTabContainerCustom{
border: none!important;
z-index: 3 !important;
position: relative;
}

/* Drop Down List Start*/


.classDivNavigation ul {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
}

.classDivNavigation ul li {
  font-size: 14px;  
  display: inline-block;
  position: relative;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom:3px solid #cbcbcb;
  margin-left: -6px;
    color:#808085;
}

.classDivNavigation ul li a{
	text-decoration: none;
	color:#808085;
	padding: 5px;
display: block;	
text-transform: uppercase;
}


.classDivNavigation ul li:hover {
  color: #004480;
  border-bottom:3px solid #004480;
}
.classDivNavigation ul li a:hover {
  color: #004480;
  text-decoration: none;
}
.classDivNavigation ul li ul {
  padding: 0;
  position: absolute;
  top: 25px;
  left: 0;
  width: 170px;
  line-height: 30px;
  z-index: 5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

.classDivNavigation ul li ul li { 
  background: #fff;
  display: block; 
  /*color:#cbcbcb;*/
  color:#ababab;
}
.classDivNavigation ul li ul li:hover { background: rgba(255,255,255,0.7); }

.classDivNavigation ul li ul li a:hover {
  color: #004480;
  text-decoration: none;
}

.classDivNavigation ul li a:hover ul {
  color: #004480;
  text-decoration: none;
}
.classDivNavigation ul li:hover ul {
  color: #004480;
  display: block;
  opacity: 1;
  visibility: visible;
}

#idSpanSignUp ul {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
}
#idSpanSignUp ul li { 
  
  display: inline-block;
  position: relative;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0px;  
  margin-left: -42px;
    color:#808085;

}
#idSpanSignUp ul li a{ 
	text-decoration: none;
	color:#808085;
}

#idSpanSignUp ul li:hover {
  color: #004480;
  text-decoration: none;
}
#idSpanSignUp ul li a:hover {
  color: #004480;
  text-decoration: none;
}
#idSpanSignUp ul li ul {
padding: 3px;
position: absolute;
top: 20px;
left: 0px;
width: 170px;
line-height: 30px;
z-index: 5;
box-shadow: none;
display: none;
opacity: 0;
visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

#idSpanSignUp ul li ul li { 
  background: #fff;
  display: block; 
  /*color:#cbcbcb;*/
  border-bottom: 1px solid #fff;
  color:#808085;
  margin-left: 0px;
}
#idSpanSignUp ul li ul li a{ 
	text-decoration: none;
	color:#808085;
}
#idSpanSignUp ul li ul li:hover { 
	background: rgba(255,255,255,1);
	border-bottom: 1px solid #004480;
}
#idSpanSignUp ul li ul li a:hover {
  color: #004480;
  text-decoration: none;
}
#idSpanSignUp ul li:hover ul {
  color: #004480;
  display: block;
  opacity: 1;
  visibility: visible;  
  box-shadow: 1px 2px 2px rgba(0, 68, 128, 0.51);
}
#idSpanSignUp ul li a:hover ul {
  color: #004480;
  text-decoration: none;
}

/*Login List Start*/
#idSpanLogin ul {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
}
#idSpanLogin ul li { 
  
  display: inline-block;
  position: relative;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0px;  
  margin-left: -42px;
    color:#808085;

}
#idSpanLogin ul li a{ 
	text-decoration: none;
	color:#808085;
}

#idSpanLogin ul li:hover {
  color: #004480;
  text-decoration: none;
}
#idSpanLogin ul li a:hover {
  color: #004480;
  text-decoration: none;
}
#idSpanLogin ul li ul {
padding: 3px;
position: absolute;
top: 20px;
left: 0px;
width: 170px;
line-height: 30px;
z-index: 5;
box-shadow: none;
display: none;
opacity: 0;
visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

#idSpanLogin ul li ul li { 
  background: #fff;
  display: block; 
  /*color:#cbcbcb;*/
  border-bottom: 1px solid #fff;
  color:#808085;
  margin-left: 0px;
}
#idSpanLogin ul li ul li a{ 
	text-decoration: none;
	color:#808085;
}
#idSpanLogin ul li ul li:hover { 
	background: rgba(255,255,255,1);
	border-bottom: 1px solid #004480;
}
#idSpanLogin ul li ul li a:hover {
  color: #004480;
  text-decoration: none;
}
#idSpanLogin ul li:hover ul {
  color: #004480;
  display: block;
  opacity: 1;
  visibility: visible;  
  box-shadow: 1px 2px 2px rgba(0, 68, 128, 0.51);
}
#idSpanLogin ul li a:hover ul {
  color: #004480;
  text-decoration: none;
}

/*Login List End*/

#idDivSignUpOption {
  padding: 0;
  position: absolute;
  top: 25px;
  left: 0;
  width: 170px;
  line-height: 30px;
  z-index: 5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#idDivSignUpOption div{
	background: #fff;
}
#idDivSignUpOption div:hover { background: rgba(255,255,255,0.7); }


/* Drop Down List End*/
#carousel {
  margin: 0 auto;
  width: 600px;
  height: 150px;
  background: #efefef;
  overflow: hidden;
}
#carousel .carousel_box {
  float: left;
  border: solid #fff 5px;
  width: 140px;
  height: 140px;
  color: #fff;
  background: #252525;
  line-height: 140px;
  text-align: center;
  font-size: 123%;
}

.classLICustomTab {
font-size: 18px;
text-decoration: none;
color: #6D6F71;
letter-spacing: 2px;
line-height: 40px;
}

.classDivTabCustom{

}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
background-color: #FFFFFF;
border: 1px solid #999999;
cursor: default;
display: none;
position: absolute;
text-align: left;
min-width: 20%;
z-index: 50;
padding: 25px 25px 20px;
box-shadow: 2px 2px 5px #004480;
margin-left: 55%;
margin-top: 0px;
}

label {
display: block;
margin-bottom: 3px;
padding-left: 15px;
text-indent: -15px;
font-size: 18px;
color: rgb(109, 111, 113) !important;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
.classDivTabContainCustomHome{
width: 98%;
float: left;
min-height: 400px;
margin: 0% 3% 3% 3%;
clear: both;
position: relative;
}
.classDivTabContainCustom{
width: 93%;
float: left;
min-height: 400px;
margin: 0% 3% 3% 3%;
clear: both;
position: relative;
}
.classDividerDiv{
background: none repeat scroll 0% 0% rgba(116, 201, 227, 0.4);
height: 4px;
width: 89%;
clear: both;
margin: 0px 0px 0px 25px;
}
.classTopMargin30{
margin-top: 30px;
}
/*CSS For Middle Body Part Start */
.classDivHeading{
color: #004480;
font-size: 26px;
margin: 5px;
padding: 5px 0px 0px 55px;
background: url("../images/bullet.png") no-repeat 24px 10px;
background-size: 15px;
font-weight: bold;
/*font-family: helvetica-neue-bold !important;*/
text-shadow:0px 0px 0.5px #004480;
letter-spacing: 2px;
}
.classSpanMembershipPlan{
  font-size: 22px;
  color: #f80;
  text-shadow:none;
}
.classDivInnerPageBodyContainer{
width: 90%;
float: left;
min-height: 84px;
padding: 20px;
}
.classDivInnerPageOfABContainer{
width: 100%;
float: left;
min-height: 84px;
padding: 20px;
}
.classDivInnerPageBodyItem{
float: left;
width: 85%;
padding: 0px 20px 20px 20px;
border-bottom: 1px solid rgba(4, 60, 109, 0.2);
margin: 20px auto 0px auto;
}

.classImgLeader{
width: 90%;
border: 1px solid #eee;
border-radius: 3px;	
margin: auto;
}
#idDivLeaderImgDesig{
	width: 25%;
	text-align: center;
}
#idDivLeaderText{
	width: 75%;
}
.classDivLeaderContianer{
float: left;
}
.classPLeaderText{
/*color: rgb(109, 111, 113) !important;*/
color: rgb(109, 111, 113) !important;
font-size: 18px;
line-height: 25px;
margin-top: -5px;
}
.classPMsgWrapper{
padding: 20px;
background: rgba(0, 68, 128, 0.3);
border: 1px solid rgba(0, 68, 128, 0.47);
border-radius: 3px;
}
.classUlFeatureText{
background: url('../images/features.png') no-repeat 100px 0px;
min-height: 200px;
padding-left: 325px;
background-size: 200px;
color:#6D6F71;
}
.classPLContainer{
float:left;
color: rgb(109, 111, 113);
 width:40%;
 margin:20px;
 padding:10px;
 border:1px solid #eee;
 /*min-height: 200px;
 max-height: 200px;	*/
 text-align: center;
}
.classPLContainer h3{
	text-align: center;	
	border-bottom: 1px solid #eee;
	padding: 5px;
	margin: 0px;
}
.classPLContainer h4{
	text-align: center;	
	border-top: 1px solid #eee;
	padding: 5px;
	margin: 0px;	
}
.classPLImg{
	margin:20px 0px 20px 0px; 
}
.classPLeaderDesig{
/*border-bottom: 1px dashed rgba(4, 60, 109, 0.5);*/
margin-top: -5px;
}
.classSpanLeaderName{
color: #004480;
font-size: 21px;
}
.classBlueColorSubHeading{
color: #004480;
font-size: 21px;
}
.classJustifyText{
  text-align: justify;
}
.classSpanLeaderDesig{
color: #ff0000;
/*color:rgba(4, 60, 109, 0.5);*/
font-size: 16px;
}
.classDivLRContainer{
	float:left;
	position: realtive;
	margin: auto;
	width: 100%;
	min-height: 200px;
	color: #6d6f71!important;
	padding-bottom: 30px;
}
.classDivLContainer{
float: left;
width: 48%;
min-height: 200px;
padding: 10px;
margin: auto;
}
.classDivForImgBenefits{
float: left;
margin-top: 15px;
width: 100%;
}
.classDivForImg{
	margin-bottom: 20px;
}
.classUlData{
font-size: 18px;
}
.classUlData li{
	margin-top: 5px;
}
.classImgPDP{
	width: 75%;
	margin-left: 10%;
  margin-top:25px;
}
.classImgBenefits{
float: left;
width: 65px;
margin: 0px 15px 0px 15px;
}
.classSpanDownloadBrochure{
/*height: 30px;*/
color: #FFF;
background: linear-gradient(#5799a8, #2b8397);
background: -moz-linear-gradient(#5799a8, #2b8397);
background: -webkit-gradient(linear, left top, left bottom, from(#5799a8), to(#2b8397));    
background: -webkit-linear-gradient(#5799a8, #2b8397);
background: -o-linear-gradient(#5799a8, #2b8397);
background: -ms-linear-gradient(#5799a8, #2b8397);
border: medium none;
margin-top: 10px;
width: 75%;
display: block;
font-size: 21px;
text-align: center;
padding: 8px 0px;
margin-left: 17%;
}
.classSpanDownloadBrochure:hover{
box-shadow:0px 0px 2px #555;
}
.classSpanDownloadBrochure a{
	text-decoration: none;
	color:#fff;
}
.classSpanOr{
/*height: 30px;*/
color: #FFF;
background: linear-gradient(#d89979, #f77938);
background: -moz-linear-gradient(#d89979, #f77938);
background: -webkit-gradient(linear, left top, left bottom, from(#d89979), to(#f77938));    
background: -webkit-linear-gradient(#d89979, #f77938);
background: -o-linear-gradient(#d89979, #f77938);
background: -ms-linear-gradient(#d89979, #f77938);
border: medium none;
margin-top: 10px;
width: 40px;
display: block;
font-size: 21px;
text-align: center;
padding: 8px 0px;
float: left;
border-radius: 50px;
}
.classButtonWrapper{
width: 98%;
margin-top: -30px;
float: left;
margin-left: 1%;	
}
.classSpanCreateUser{
/*height: 30px;*/
color: #FFF;
background: linear-gradient(#74cdfc, #38b5f7);
background: -moz-linear-gradient(#74cdfc, #38b5f7);
background: -webkit-gradient(linear, left top, left bottom, from(#74cdfc), to(#74cdfc));    
background: -webkit-linear-gradient(#74cdfc, #38b5f7);
background: -o-linear-gradient(#74cdfc, #38b5f7);
background: -ms-linear-gradient(#74cdfc, #38b5f7);
border: medium none;
margin-top:10px;
width: 55%;
display: block;
font-size: 21px;
text-align: center;
padding: 8px 0px;
float: left;
margin-left: 10px;
}
.classSpanCreateUser:hover{
box-shadow:0px 0px 2px #555;
}
.classSpanCreateUser a{
text-decoration: none;
color: #fff;
}
.classSpanBenefitText{
position: absolute;
font-size:16px;
color:#b7b7b7;
display: block;
padding: 3px;
background: #fff;
margin-left: 190px;
text-align: center;
margin-top: -24px;
font-weight: bold;
}
.classSpanUPButton{
display: block;
width: 43%;
height: 45px;
background: none repeat scroll 0% 0% #E7E7E7;
margin: 15px 10px 10px 20px;
padding: 3px 5px;
line-height: 35px;
font-size: 20px;
border-radius: 0px;
border-width: 0px 0px medium medium;
border-style: solid solid none none;
border-color: #AAA #AAA -moz-use-text-color -moz-use-text-color;
box-shadow: -4px 4px 7px 0px #999 inset;
float: left;
}
::-webkit-input-placeholder {
   text-align:center !important; 

}
:-moz-placeholder { /* Firefox 18- */
   text-align:center !important; 
 
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:center !important; 
  
}

:-ms-input-placeholder {  
   text-align:center !important; 
}
.classSpanMDText{
font-size: 30px;
/*line-height: 45px;*/
/*font-family:helvetica-neue-bold !important;*/
	
}
.classUPTextbox{
color: rgb(121, 119, 119) !important;
outline: 0 !important;
text-align: center;
letter-spacing: 2px;
}
.classSpanUPButton a{ 
text-decoration: none;
}

.classDivForButtons{
float: left;
width: 48%;
}
.classDivForInputBox{
width: 48%;
}

.classValidationMsg{
	font-size: 12px;
float: right;
color: #f00 !important;
}



.classSpanSignInButton{
position: relative;
display: block;
width: 25%;
height: 40px;
margin: 10px 10px 20px 20px;
background: linear-gradient(#5E91BE, #004480);
background: -moz-linear-gradient(#5E91BE, #004480);
background: -webkit-gradient(linear, left top, left bottom, from(#5E91BE), to(#004480));    
background: -webkit-linear-gradient(#5E91BE, #004480);
background: -o-linear-gradient(#5E91BE, #004480);
background: -ms-linear-gradient(#5E91BE, #004480);
line-height: 30px;
font-size:21px;
padding: 3px;
text-align: center;
color: #fff;
border: none;
cursor:pointer;
letter-spacing: 2px;
float: left;
/*border-radius: 20px;*/
}
.classSpanSignInButton:hover{
box-shadow:0px 0px 2px #555;
/*background: linear-gradient(#004480, #5E91BE);
background: -moz-linear-gradient(#004480, #5E91BE);
background: -webkit-gradient(linear, left top, left bottom, from(#004480), to(#5E91BE));    
background: -webkit-linear-gradient(#004480, #5E91BE);
background: -o-linear-gradient(#004480, #5E91BE);
background: -ms-linear-gradient(#004480, #5E91BE);*/
}
.classSpanSignInButton a{
text-decoration: none;
color: #ccc;
}


/*CSS For Middle Body Part End */


/*Css For Tab in Body End*/

/*
Css For form on banner Start
*/

.classDivDirectoryWithoutBanner{
height: 35px;
color: #000;
padding: 20px;
z-index: 3;
position: relative;
width: 975px;
float: left;
margin: 30px auto 0px 40px;
background-color: rgba(0, 68, 128, 0.3);
}
.classDivDirectoryOnBanner{
width: 950px;
height: 35px;
background-color: rgba(255,255,255,0.6);
color: #000;
padding: 20px;
z-index: 3;
margin: -160px auto 0px auto;
position: relative;
}
.classFormFieldsCustom{
color: #6D6F71;
line-height: 16px !important;
font-size: 16px !important; 
padding-top: 9px;
padding-right: 5px;
padding-bottom: 9px;
padding-left: 5px;
border: none;
border-radius: 0px;
}
.classFormSelectBox{
  width: 135px !important;
color: #6D6F71;
line-height: 16px !important;
font-size: 16px !important;
border: medium none;
border-radius: 0px;
padding-top: 8px;
padding-right: 5px;
padding-bottom: 8px;
padding-left: 5px;
/*-webkit-padding-top: 8px;
-webkit-padding-right: 5px;
-webkit-padding-bottom: 8px;
-webkit-padding-left: 5px;*/
line-height:33px !important;
-webkit-appearance: menulist-button !important;
}
select{
line-height:35px;
-webkit-appearance: menulist-button !important;
}
.classFormFieldSpan{
/*	display: inline-block;
	min-width:60px;
	color:#357ebd;*/
	display: block;
min-width: 60px;
color:#135187;
float: left;

margin: 0px 15px 0px 15px !important;

}
.classHRCustom{
	width: 1035px;
margin-top: -40px;
margin-bottom: 35px;
margin-left: -18px;
border-top: 1px solid rgba(255,255,255,0.6);
}
.classSearchButton{
border: none;
color: #fff;
font-size: 17px;
margin-left: 10px;
background: linear-gradient(#5E91BE, #004480);
background: -moz-linear-gradient(#5E91BE, #004480);
background: -webkit-gradient(linear, left top, left bottom, from(#5E91BE), to(#004480));    
background: -webkit-linear-gradient(#5E91BE, #004480);
background: -o-linear-gradient(#5E91BE, #004480);
background: -ms-linear-gradient(#5E91BE, #004480);
padding:8px;
/*height: 40px;*/
/*text-shadow: 0.5px 0.5px 0.5px #000;*/
}
.classSearchButton:hover{
box-shadow:0px 0px 2px #555;
}
/*6D6F71
Css For form on banner End
*/
/* Sequence Slider */

#slider_holder {
	/*height: 100%;*/
	position: relative;
}

#sequence {
	/*backface-visibility prevents graphical glitches when frames are animating*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	
	overflow: hidden;
}
#sequence ul {
	margin: 0;
}
#sequence ul li{ 
	z-index: 1;
	margin: 0px 0px 0px -40px !important;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 170px;
	height: 41px;
	width: 41px;
	z-index: 20;
		
	background: #556167;
	background: rgba(85, 97, 103, 0.7);
	
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
     
    filter: alpha(opacity=0); 
    opacity: 0;
    
	-moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    -khtml-border-radius: 21px;
    border-radius: 21px;		 	 
}
.prev {
	left: 15px;
}
.next {
	right: 15px;
}

.next > span, .prev > span {
	background: url(../images/slider_arrows.png) no-repeat;
	display: block;
	height: 21px;
	width: 21px;
	margin: 10px;

-webkit-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    -ms-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
     -o-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
        transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000);		
}
.prev > span {
	background-position: 0px 0px;

}
.next > span {
	background-position: -21px 0px;

}

.next:hover,.prev:hover {
	background: #0ad1e5;
}
.next:hover span,.prev:hover span{
	background-position-y: -21px;	
}

#sequence li > * {
	position: absolute;
}

#sequence {
	height: 550px;
	margin: 0 auto;
	position: relative;
	max-width: 1400px;
}
.classTestimonialSequence{
	height: 250px !important;
}
.classDivTstSub-Txt{
display: inline-block;
width: 29.7%;
margin: 5px;
padding: 10px;
border-radius: 3px;
border: 1px solid #EEE;
vertical-align: top;
font-size: 18px;
}
.classDivTstBox-Top-AD{
	width: 100%;
border-bottom: 1px solid #004480;
padding-bottom: 10px;
margin-bottom: 10px;
}
.classDivAct-CustTst{

}
.classUserTestimonialImg{
	width: 75px;
float: left;
margin:-20px 5px 5px 5px;
}
.classTInfo{
width: 40% !important;
}

.info {
	color: black;
	/*left: 80%;	To start animation uncomment this*/
	top: 10%;
	width: 50%;
	z-index: 10;
	vertical-align: middle;
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
}

.info.animate-in {
	left: 5%;
	top: 10%;
    opacity: 1;
    
    filter: alpha(opacity=100); 	
-webkit-transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s; 
   -moz-transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s; 
    -ms-transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s; 
     -o-transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s; 
        transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s;

}

.info.animate-out {
	left: 80%;
    filter: alpha(opacity=0); 
    opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}


.info  h2{
	color: #fff;
/*	text-shadow: 0 1px 0 rgba(0,0,0,0.2);*/	
	
	padding: 0px 7px;
	font-size: 38px;
	line-height: 45px;
	letter-spacing: -1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	margin: 0 0 6px 0;
}
.info h3{
	color: #004480;
	background: #c6c6c6;
	padding: 4px 6px;
	font-size: 26px;
	line-height: 26px;
	letter-spacing: 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;	
	margin: 0 0 24px 0;
	border:1px solid #ccc;
}
.info p{
	color: #fff;
	width:100%;
	font-size: 18px;
	line-height: 27px;
	margin: 0 -40 28px;
}
.classImgStartQuote{
width: 35px;
opacity: 0.6;
float: left;
margin-left: -35px;
margin-top: -10px;
}
.classSpanStartQuoteText{
	font-size: 18px;

}
.classTTextInText{
	color: rgb(109, 111, 113) !important;	
	margin:0px 0px 28px 0px !important;
}
.classCTImg{
	width:350px !important;
	height:250px !important;
	position: absolute;
	margin-left: 55%;
}
.classImgEndQuote{
width: 30px;
opacity: 0.6;
margin-right: 0px;
margin-top: 0px;
}
.class10Padding{
	padding: 10px;
}
.info a.link{
	color: #fff;
	background: #004480;
	width:80%;
	font-size: 15.4px;
	line-height: 25px;
/*	text-shadow: 0 1px 0 rgba(256, 256, 256, 0.5);*/
	margin: 0 0 14px;
	text-decoration: none;
}
.slider_img {
	max-height: 100%;
	width: auto;
	left: 0%;
	top: 0px;
    filter: alpha(opacity=0); 
    opacity: 0;

	z-index: 6;
}

.slider_img.animate-in {
	left: 25%;
	top: 0px;
    filter: alpha(opacity=100); 
    opacity: 1;
	z-index: 4;
/*	
	-webkit-transition: all 1s cubic-bezier(0.2,0.1,0.1,0.9) 0.3s;
	-moz-transition: all 1s  cubic-bezier(0.2,0.1,0.1,0.9) 0.3s;
	-ms-transition: all 1s  cubic-bezier(0.2,0.1,0.1,0.9) 0.3s;
	-o-transition: all 1s  cubic-bezier(0.2,0.1,0.1,0.9) 0.3s;
	transition: all 1s  cubic-bezier(0.5,0.1,0.1,0.9) 0.3s;
*/
-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s; 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s; 
    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s; 
     -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s; 
        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s;		
}

.slider_img.animate-out {
	left: -340%;
	top: 0px;
    filter: alpha(opacity=0); 
    opacity: 0;
	z-index: 2;	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;	
}


.slider_bgr {
    height: auto;
    width: 100%;
	left: 0;
    filter: alpha(opacity=0); 
    opacity: 0;
	top: 0;
	vertical-align: middle;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 1;
}

.slider_bgr.animate-in {
    filter: alpha(opacity=100); 
    opacity: 1;

	z-index: 1;
}

.slider_bgr.animate-out {
    filter: alpha(opacity=0); 
    opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 1;
}


.sequence-preloader .preloading .circle {
    fill: #ccc !important;
}
div.inline{
    background-color: #ccc !important;
}

/* Sequence Slider::END */



/*Sign Up Form CSS Start*/
.classFormTextBox{
background: none repeat scroll 0px 0px #FFF;
border: 1px solid #C9C9C9;
color: #545658;
padding: 8px;
font-size: 16px;
border-radius: 2px;
width: 100%;	
/*font-family: helvetica-neue-bold;*/

}
.classDivFormSubHeading{

background: linear-gradient(#5E91BE, #004480);
background: -moz-linear-gradient(#5E91BE, #004480);
background: -webkit-gradient(linear, left top, left bottom, from(#5E91BE), to(#004480));    
background: -webkit-linear-gradient(#5E91BE, #004480);
background: -o-linear-gradient(#5E91BE, #004480);
background: -ms-linear-gradient(#5E91BE, #004480);
width: 100%;
color: #FFF;
margin: 20px 0px 20px 0px;
float: left;
padding: 7px;
font-size: 18px;
/*font-family: helvetica-neue-bold !important;*/
}
.class95Percent{
  width: 95%;
}
.classP48Float{
width: 48%;
float: left;	
}
.classP48FloatWithClear{
width: 48%;
float: left;  
clear: both;
}

.classP48FloatLMargin{
width: 48%;
float: left;
margin-left: 4%;
}
.classP48{
width: 48%;
clear: both;
}
.classInlineDisplay{
display: inline-block;	
} 
.classLeftMargin{
margin-left: 4%;
}
.classRed{
	color: #f00;
}
.classGreen{
color: #060;	
}
.classGrey{
color:rgb(109, 111, 113) !important;
}
.classSpanDetailHolder{
color:rgb(109, 111, 113) !important;	
}
.classSpanDataField{
margin-left: 10px;	
}
.classTextAreaW100perH120px{
min-width: 100%;
max-width: 100%;
min-height: 80px;	
}
.classPageFormUserSpan{
display: block;
margin: -40px 0px 0px 48px;
padding: 5px;
width: 40%;
color: #004480;
}
.classPageFormUserImg{
position: absolute;
margin-top: -44px;
z-index: -1;
}
.classPointer{
	cursor: pointer;
}

.classErrorMsg{
text-align: center;
font-size: 20px;
color: #f00;
background: rgba(255, 0, 0, 0.07);
border-radius: 3px;
}
/*Sign Up Form CSS End*/

/*
CSS for the Search result Start
*/
.classSearchResultWrapper{
float: left;
width: 99%;
padding: 10px;
margin: 0px 0px 20px 0px;
border-bottom: 1px dotted #7A92A7;
}

.classSpanResultText{
display: block;
float: left;
min-width: 30%;
margin: 0px 10px 0px 0px;
padding: 3px;
border-radius: 3px;
max-width: 60%;
}

.classLightColor{
/*color:rgba(4, 60, 109, 0.5);*/
color:#004480;
}

.classDivMap{
width: 170px;
height: 170px;
float: left;
position: relative;
background-color: #E5E3DF;
overflow: hidden;
margin: 5px;
}
/*
CSS for the Search result End
*/


/*Pagination Start*/

/*
  @@ Pagination
*/
.holder { 
margin: 5px 0px;
border-bottom: 1px dotted #AAA;
padding: 10px;
text-align: right;
margin: 5px 0; 
}

.holder a {
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
  color: #333;
}

.holder a:hover {
  background-color: #222;
  color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
  color: #ed4e2a;
  font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover { color: #bbb; }

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
  cursor: default; 
  background: none;
}

.holder span { margin: 0 5px; }

/*Pagination End*/


/*  Custom CSS Start :Laxmi
-----------------------------------------------*/
.classW1{
  width: 8.3333%  ;
  
}
.classW2{
  width: 16.6666%;
  
}
.classW3{
  width: 24.9999%;
  
}
.classW4{
  width: 33.3333%;
  
}
.classW5{
  width: 41.6667%;
  
}
.classW6{
  width: 49.9999%;
  
}
.classW7{
  width: 58.3333%;
  
}
.classW8{
  width: 66.6664%;
  
}
.classW9{
  width: 74.9997%;
  
}
.classW10{
  width: 83.3333%;
  
}
.classW11{
  width: 91.6663%;
  
}
.classW12{
  width: 99.9996%;
  
}

.classRow{
  width: 100%;;
  float:left;
}
.classMC{
  margin: auto;
}
.classTAL{
  text-align: left !important;
}
.classTAR{
  text-align: right !important;
}
.classTAC{
  text-align: center !important;
}
.classFL{
  float: left;
}
.classFR{
  float: right;
}
.classClear{
  clear: both;
}
.class0Margin{
  margin: 0 !important;
}
.classDB{
  display: block;
}
.classBImage{
    width: 40px;
}
.classFSContainerWrapper{
  width: 100%;
  float: left;
}
.classCustomContainer{
  width: 100%;
  padding: 0px;
}
.classNoPadding{
  padding: 0px;
}
.classMBg{
  background-color: #393187;
}
.classMColor{
color: #393187 !important;
}
.classXOFNone{
  overflow-x:hidden; 
}
.classWColor{
  color: #fff !important;
}
.classPR{
  position: relative;
}
.classPA{
  position: absolute;
}
.classTop{
  top: 0;
}
.classRight{
  right: 0;
}
.classBottom{
  bottom: 0;
}
.classLeft{
  left: 0;
}

#tabs.classPaymentModeWrapper .ui-widget-header{
    background-color: #E2F1FF;
    background: #E2F1FF;
    border: none;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
}
#tabs.classPaymentModeWrapper{
  border: none;
  background-color: #E2F1FF;
      padding: 0;
}
.classPMHolder{
      border: 1px solid #B0DAFF;
    padding: 0 6px;
    margin-top: -17px;
    background-color: #E2F1FF;
}
#tabs.classPaymentModeWrapper .ui-tabs-panel{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(176, 218, 255);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(176, 218, 255);
    border-radius: 0px;
    float: left;
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow: 0 2px 0 #5C90BD;
    width: 100%;
    padding: 0;
}
.ui-tabs-panel .ui-tab-inner-div{
      padding: 20px;
    float: left;
}
.classCashPaymentForm label{
  font-size: 16px;
}
.classCashPaymentForm .classXBMargin{
  margin-bottom: 15px;
}
.classPaymentModeWrapper .classGoButton{
  padding: 10px 25px;
  border-radius: 5px;
}
.custom-combobox{

}
 .ui-state-default, .ui-widget-content .ui-state-default{}
.classPedHolder .custom-combobox-input{
  background: #fff !important;
  background-color: #fff !important;
  width: 88% !important;
  }
.classPedHolder .custom-combobox a {
    padding: 14px 0 10px 0;
    margin-top: -5px;
}
.ui-menu{
      overflow-y: auto !important;
    height: 300px !important;
    overflow-x: hidden !important;
}
/*
Custom CSS End
*/

/*Price table CSS Start*/
.classDivInnerPageBodyItem #tsc_pricingtable01 h3{
  background: linear-gradient(#5E91BE, #004480);
background: -moz-linear-gradient(#5E91BE, #004480);
background: -webkit-gradient(linear, left top, left bottom, from(#5E91BE), to(#004480));    
background: -webkit-linear-gradient(#5E91BE, #004480);
background: -o-linear-gradient(#5E91BE, #004480);
background: -ms-linear-gradient(#5E91BE, #004480);
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.2);
}
.classDivInnerPageBodyItem #tsc_pricingtable01 .plan{
  background: rgba(238, 238, 238, 0.59);  
}
.classDivInnerPageBodyItem #tsc_pricingtable01 li{
  color: #222;
}
.classDivInnerPageBodyItem #tsc_pricingtable01 h3 span{
  color: #004480;
  border:5px solid rgb(199, 228, 253);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.55);
}
.classDivInnerPageBodyItem #tsc_pricingtable01 .single-plan.plan:nth-child(1) h3, 
.classDivInnerPageBodyItem #tsc_pricingtable01 .single-plan.plan:nth-child(1){
  border-radius: 5px 5px 0 0;
}
.classDivInnerPageBodyItem  #tsc_pricingtable01 .plan.single-plan{
  box-shadow:0px 0px 35px rgba(0, 68, 128, 0.2) inset;
  border:1px solid rgba(87, 139, 185, 0.45);
}

#tsc_pricingtable01 .plan.single-plan .signup{
  padding: 10px 25px;
  font-size: 24px;
}

/*Price table CSS ENd*/