.tsc_clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.tsc_clear { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

/* PRICING TABLE STYLE 1 */
		
	#tsc_pricingtable01 {
		margin: 10px;
		padding: 10px;
		text-align: center;
		width: 100%;
		/*width: 892px;  total computed width = 222 x 3 + 226 */
	}

	#tsc_pricingtable01 .plan {
		font: 15px arial,helvetica;
		text-shadow: 0 1px rgba(255,255,255,.8);        
		background: #fff;      
		border: 1px solid #ddd;
		color: rgb(109, 111, 113) !important;
		padding: 20px;
		width: 27%;
		/*width: 130px;  plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
		float: left;
		position: relative;
	}
	
	#tsc_pricingtable01 #most-popular {
		z-index: 2;
		top: -13px;
		border-width: 3px;
		padding: 30px 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
		-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
		box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
	}

	#tsc_pricingtable01 .plan:nth-child(1) {
		-moz-border-radius: 5px 0 0 5px;
		-webkit-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;        
	}

	#tsc_pricingtable01 .plan:nth-child(4) {
		-moz-border-radius: 0 5px 5px 0;
		-webkit-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;        
	}
	
	/* --------------- */	

	#tsc_pricingtable01 h3 {
		font-size: 26px;
		color: #004480;
		font-weight: normal;
		padding: 20px;
		margin: -20px -20px 50px -20px;
		background-color: #eee;
		background-image: -moz-linear-gradient(#fff,#eee);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
		background-image: -webkit-linear-gradient(#fff, #eee);
		background-image: -o-linear-gradient(#fff, #eee);
		background-image: -ms-linear-gradient(#fff, #eee);
		background-image: linear-gradient(#fff, #eee);
	}
	
	#tsc_pricingtable01 #most-popular h3 {
		background-color: #ddd;
		background-image: -moz-linear-gradient(#eee,#ddd);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
		background-image: -webkit-linear-gradient(#eee, #ddd);
		background-image: -o-linear-gradient(#eee, #ddd);
		background-image: -ms-linear-gradient(#eee, #ddd);
		background-image: linear-gradient(#eee, #ddd);
		margin-top: -30px;
		padding-top: 30px;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0; 		
	}
	
	#tsc_pricingtable01 .plan:nth-child(1) h3 {
		-moz-border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		border-radius: 5px 0 0 0;       
	}

	#tsc_pricingtable01 .plan:nth-child(4) h3 {
		-moz-border-radius: 0 5px 0 0;
		-webkit-border-radius: 0 5px 0 0;
		border-radius: 0 5px 0 0;       
	}	

	#tsc_pricingtable01 h3 span {
		display: block;
		font: bold 24px/100px arial,helvetica;
		color: #777;
		background: #fff;
		border: 5px solid #fff;
		height: 100px;
		width: 100px;
		margin: 10px auto -65px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		border-radius: 100px;
		-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
		-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
		box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	}
	
	/* --------------- */

	#tsc_pricingtable01 ul {
		margin: 20px 0 0 0;
		padding: 0;
		list-style: none;
	}

	#tsc_pricingtable01 li {
		border-top: 1px solid #ddd;
		padding: 10px 0;
	}
	
	/* --------------- */
		
	#tsc_pricingtable01 .signup {
		position: relative;
		padding: 8px 20px;
		margin: 20px 0 0 0;  
		color: #fff;
		font: 14px arial,helvetica;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;       
		background-color: #72ce3f;
		background-image: -moz-linear-gradient(#5E91BE, #004480);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#5E91BE), to(#004480));    
		background-image: -webkit-linear-gradient(#5E91BE, #004480);
		background-image: -o-linear-gradient(#5E91BE, #004480);
		background-image: -ms-linear-gradient(#5E91BE, #004480);
		background-image: linear-gradient(#5E91BE, #004480);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;     
		text-shadow: 0 1px 0 rgba(0,0,0,.3);        
		-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
		box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	}

	#tsc_pricingtable01 .signup:hover {
		background-color: #62bc30;
		background-image: -moz-linear-gradient(#62bc30, #72ce3f);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));      
		background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
		background-image: -o-linear-gradient(#62bc30, #72ce3f);
		background-image: -ms-linear-gradient(#62bc30, #72ce3f);
		background-image: linear-gradient(#62bc30, #72ce3f); 
	}

	#tsc_pricingtable01 .signup:active, #tsc_pricingtable01 .signup:focus {
		background: #62bc30;       
		top: 2px;
		-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
		-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
		box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
	}
	
	/* --------------- */

	.clear:before, .clear:after {
	  content:"";
	  display:table
	}

	.clear:after {
	  clear:both
	}

	.clear	{
	  zoom:1
	}	



/* PRICING TABLE STYLE 2 */

.tsc_pricingtable02 {
/*	font-family: Calibri, Arial, Helvetica, sans-serif;*/
	font-family: Arial, Helvetica;
	font-size: 13px;
	font-weight: normal;
	color: #313131;
	width:100%;
}
.tsc_pricingtable02 ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
	.tsc_pricingtable02 ul li {
		margin: 0px;
		width: 100%;
		height: 100%;
		height: 26px;
		padding-top: 10px;
		float: left;
		text-align: center;
		padding-left: 0px;
	}



.tsc_pricingtable02 li.pricing_header1 {
	height:36px;
	font-size: 18px;
	line-height:24px;
	color:#ffffff;

	-webkit-border-radius:1px 6px 0 0;
	-khtml-border-radius:19px 6px 0 0;
	-moz-border-radius:19px 6px 0 0;
	border-radius:19px 6px 0 0;


}
.tsc_pricingtable02 li.pricing_header2 {
	height:60px;
	font-size: 30px;
	font-weight:bold;
	line-height:50px;
	border-bottom:1px solid #cccccc;
	color:#333;
	background-color:#eee;
	
}
	.tsc_pricingtable02 li.pricing_header2 span {
		font-size: 12px;
		line-height:40px;
	}

.tsc_pricingtable02 .pricing_column_first li.pricing_header1 {
	background:none;
}
.tsc_pricingtable02 .pricing_column_first li.pricing_header2 {
	background-color:#efefef;
	border-bottom:1px solid #cccccc;

	-webkit-border-radius:19px 0px 0 0;
	-khtml-border-radius:19px 0px 0 0;
	-moz-border-radius:19px 0px 0 0;
	border-radius:19px 0px 0 0;
}
	.tsc_pricingtable02 .pricing_column_first li.pricing_header2 span {
		font-size:15px;
		font-weight:bold;
		line-height:56px;
		padding-left:16px;
	}

.tsc_pricingtable02 .pricing_column_first,
.tsc_pricingtable02 .pricing_column {
	height: 100%;
	float: left;
	margin-right:1px;
	position:relative;
}
.tsc_pricingtable02 .pricing_column_first {
	*z-index:2;
}
.tsc_pricingtable02 .pricing_hover_area:hover .pricing_column {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
	.tsc_pricingtable02 .pricing_hover_area .pricing_column:hover {
	
		-webkit-transform:scaleY(1.04);
		-moz-transform:scaleY(1.04);
		-o-transform:scaleY(1.04);
		-ms-transform:scaleY(1.04);
		transform:scaleY(1.04);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
	.tsc_pricingtable02 .pricing_column_first li {
		text-align: left;
	}
		.tsc_pricingtable02 .pricing_column_first li span {
			padding-left:10px;
		}

/* 2. Columns sizes */

.pricing_six .pricing_column,
.pricing_six .pricing_column_first { 
	width: 16.5%;
}
.pricing_five .pricing_column,
.pricing_five .pricing_column_first { 
	width: 19.8%;
}
.pricing_four .pricing_column,
.pricing_four .pricing_column_first {
	width: 24.8%;
}
.pricing_three .pricing_column,
.pricing_three .pricing_column_first { 
	width: 33.1%;
}


.tsc_pricingtable02 .odd {
	background-color: #ffffff;
	border-bottom:1px dotted #ccc;
}
.tsc_pricingtable02 .even {
	background-color: #efefef;
	border-bottom:1px dotted #ccc;
}

.tsc_pricingtable02 .pricing_yes,
.tsc_pricingtable02 .pricing_no {
	height:20px;
	width:100%;
	float:left;
}
.tsc_pricingtable02 .pricing_yes {

background:url("../images/yes.png") center top no-repeat; 
}
.tsc_pricingtable02 .pricing_no {
	background:url("../images/no.png") center top no-repeat; 
}

.tsc_pricingtable02 .pricing_footer {
	width: 100%;
	height: 44px;
	padding-top: 14px;
	padding-bottom: 6px;
	float: left;
	border-top: 1px solid #fff;
	border-bottom: 2px solid #ccc;
	background-color: #eee;
}

.tsc_buttons2 { display:inline-block; text-decoration:none; outline:none; cursor:pointer; font:bold 12px/1em arial,helvetica; padding:8px 11px; color:#555; text-shadow:0 1px 0 #fff; background:#f5f5f5; background:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); background:-moz-linear-gradient(top, #f9f9f9, #f0f0f0); border:1px solid #dedede; border-color:#dedede #d8d8d8 #d3d3d3; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb; -moz-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb; box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb;}
.tsc_buttons2:hover,
.tsc_buttons2:focus { color:#555; background:#efefef; background:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9)); background:-moz-linear-gradient(top, #f9f9f9, #e9e9e9); border-color:#ccc; -webkit-box-shadow:0 2px 1px #e0e0e0, inset 0 1px 0 #fbfbfb; -moz-box-shadow:0 2px 1px #e0e0e0, inset 0 1px 0 #fbfbfb; box-shadow:0 1px 2px #e0e0e0, inset 0 1px 0 #fbfbfb;}
.tsc_buttons2:active { position:relative; top:1px; color:#555; background:#efefef; background:-webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f4f4f4)); background:-moz-linear-gradient(top, #eaeaea, #f4f4f4); border-color:#c6c6c6; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd; box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd;}
.tsc_buttons2.rounded { padding:8px 15px; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
input.tsc_buttons2,
button.tsc_buttons2 {  *width:auto; *overflow:visible;} /* IE7 Fix */
.tsc_buttons2 img { border:none; vertical-align:bottom;}


/*  Large buttons */
.tsc_buttons2.large { padding:12px 15px; font-size:20px; font-weight:normal; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.tsc_buttons2.large.rounded { padding:12px 22px; -webkit-border-radius:23px; -moz-border-radius:23px; border-radius:23px;}

/*  Red */
.tsc_buttons2.red { background:#e6433d; background:-webkit-gradient(linear, left top, left bottom, from(#f8674b), to(#d54746)); background:-moz-linear-gradient(top, #f8674b, #d54746); border-color:#d1371c #d1371c #9f220d; color:#fff; text-shadow:0 1px 1px #961a07; -webkit-box-shadow:0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573; -moz-box-shadow:0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573; box-shadow:0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573;}
.tsc_buttons2.red:hover,
.tsc_buttons2.red:focus { background:#dd3a37; background:-webkit-gradient(linear, left top, left bottom, from(#ff7858), to(#cc3a3b)); background:-moz-linear-gradient(top, #ff7858, #cc3a3b); border-color:#961a07; -webkit-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #ff9573; -moz-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #ff9573; box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #ff9573;}
.tsc_buttons2.red:active { background:#e6433d; border-color:#961a07; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #961a07; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #961a07; box-shadow:0 1px 0 #fff, inset 0 0 5px #961a07;}

/*  Black */
.tsc_buttons2.black { background:#525252; background:-webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343)); background:-moz-linear-gradient(top, #5e5e5e, #434343); border-color:#4c4c4c #313131 #1f1f1f; color:#fff; text-shadow:0 1px 1px #2e2e2e; -webkit-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #868686; -moz-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #868686; box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #868686;}
.tsc_buttons2.black:hover,
.tsc_buttons2.black:focus { background:#4b4b4b; background:-webkit-gradient(linear, left top, left bottom, from(#686868), to(#363636)); background:-moz-linear-gradient(top, #686868, #363636); border-color:#313131; -webkit-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #868686; -moz-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #868686; box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #868686;}
.tsc_buttons2.black:active { background:#525252; border-color:#313131; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #313131; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #313131; box-shadow:0 1px 0 #fff, inset 0 0 5px #313131;}

/*  Grey */
.tsc_buttons2.grey { background:#969696; background:-webkit-gradient(linear, left top, left bottom, from(#ababab), to(#818181)); background:-moz-linear-gradient(top, #ababab, #818181); border-color:#a0a0a0 #7c7c7c #717171; color:#fff; text-shadow:0 1px 1px #444; -webkit-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #bebebe; -moz-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #bebebe; box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #bebebe;}
.tsc_buttons2.grey:hover,
.tsc_buttons2.grey:focus { background:#868686; background:-webkit-gradient(linear, left top, left bottom, from(#b0b0b0), to(#6f6f6f)); background:-moz-linear-gradient(top, #b0b0b0, #6f6f6f); border-color:#666 #666 #606060; -webkit-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #bebebe; -moz-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #bebebe; box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #bebebe;}
.tsc_buttons2.grey:active { background:#909090; border-color:#606060; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #606060; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #606060; box-shadow:0 1px 0 #fff, inset 0 0 5px #606060;}

.tsc_pricingtable02 a.tooltip {
    position:relative;
    z-index:24;
    font-size:13px;
	color: #313131;
    text-decoration:none;
	background:url("../images/info.png") right center no-repeat;
	padding:0 20px 0 10px;
}
	.tsc_pricingtable02 a.tooltip:hover {
		z-index:25;
		display:inline;
	}
	.tsc_pricingtable02 a.tooltip span {
		position:absolute;
		width: 220px;
		left: 10px;
		top: 25px;
		text-align:left;
		color: #ffffff;
		font-size:13px;
		font-family: arial,helvetica;
		line-height:16px;
		background: rgba(0,0,0,0.9); 
		background: #000000; 
		border: 1px solid #000000;
		text-shadow:none;
		padding: 7px 10px 7px 10px;
		-webkit-border-radius:5px;
		-khtml-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		display:block;
		/* Hiding the tooltip */
		visibility:hidden;
		opacity: 0;
		/* Removing transition when the mouse leaves the tooltip - Fixing a display issue */
		-webkit-transition: all 0s ease;
		-moz-transition: all 0s ease;
		-o-transition: all 0s ease;
		-ms-transition: all 0s ease;
		transition: all 0s ease;
	}
		.tsc_pricingtable02 a.tooltip:hover span {
			/* CSS3 Transition */
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			transition: all 0.4s ease;
			/* Showing the tooltip */
			visibility:visible;
			opacity: 1;
		}

.tsc_pricingtable02 .blue a.pricing_button,
.tsc_pricingtable02 .blue li.pricing_header1 {
	background-color: #4db6ff;
}
.tsc_pricingtable02 .green a.pricing_button,
.tsc_pricingtable02 .green li.pricing_header1 {
	background-color: #5aad17;
}
.tsc_pricingtable02 .red a.pricing_button,
.tsc_pricingtable02 .red li.pricing_header1 {
	background-color: #ee2121;
}
.tsc_pricingtable02 .black a.pricing_button,
.tsc_pricingtable02 .black li.pricing_header1 {
	background-color: #666;
}



/* PRICING TABLE STYLE 3 */

div.tsc_pricingtable03 { margin-bottom:24px; width:100%; height:100%; font-family: arial,helvetica; font-weight:normal; color:#333; line-height:normal !important;}
div.tsc_pricingtable03 a { color:#333; text-decoration:none; }
div.tsc_pricingtable03 ul { margin:0px; padding:0px !important; list-style-type:none !important;}
div.tsc_pricingtable03 li { margin:0px; padding:0px !important; list-style-type:none !important;}
div.tsc_pricingtable03 .align_center { text-align:center;}
div.tsc_pricingtable03 .radius3 { border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
div.tsc_pricingtable03 .radius5_topleft { border-radius:5px 0px 0px 0px; -webkit-border-top-left-radius:5px; -moz-border-radius-topleft:5px;}
div.tsc_pricingtable03 .radius5_topright { border-radius:0px 5px 0px 0px; -webkit-border-top-right-radius:5px; -moz-border-radius-topright:5px;}

.tsc_pricingtable03 .pricing_yes {

background:url("../images/yes.png") center top no-repeat; 
}
.tsc_pricingtable03 .pricing_no {
	background:url("../images/no.png") center top no-repeat; 
}

div.tsc_pricingtable03 h1,
div.tsc_pricingtable03 h2,
div.tsc_pricingtable03 h3 { margin:1px; padding:1px !important; font-weight:normal !important; border:0 !important; line-height:normal !important;}
div.tsc_pricingtable03 h1 { font-size:42px;}
div.tsc_pricingtable03 h1 span { font-size:49px;}
div.tsc_pricingtable03 h2 { font-size:28px;}
div.tsc_pricingtable03 h3 { font-size:12px;}


div.tsc_pricingtable03 div.caption_column li.header_row_1,
div.tsc_pricingtable03 div.column_1 li.header_row_1,
div.tsc_pricingtable03 div.column_2 li.header_row_1,
div.tsc_pricingtable03 div.column_3 li.header_row_1,
div.tsc_pricingtable03 div.column_4 li.header_row_1 { height:45px; width:100%; padding:3px 0px 0px 0px !important;}
div.tsc_pricingtable03 div.caption_column li.header_row_2,
div.tsc_pricingtable03 div.column_1 li.header_row_2,
div.tsc_pricingtable03 div.column_2 li.header_row_2,
div.tsc_pricingtable03 div.column_3 li.header_row_2,
div.tsc_pricingtable03 div.column_4 li.header_row_2 { height:100px; width:100%; padding:3px 0px 7px 0px !important;}
div.tsc_pricingtable03 div.caption_column li.header_row_2 { height:72px; width:100%; padding:32px 0px 6px 10px !important;}


div.tsc_pricingtable03 div.caption_column { width:24%; height:100%; float:left;}
div.tsc_pricingtable03 div.column_1 { width:19%; height:100%; float:left; position:relative;}
div.tsc_pricingtable03 div.column_2 { width:19%; height:100%; float:left; position:relative;}
div.tsc_pricingtable03 div.column_3 { width:19%; height:100%; float:left; position:relative;}
div.tsc_pricingtable03 div.column_4 { width:19%; height:100%; float:left; position:relative;}


div.tsc_pricingtable03 div.column_1,
div.tsc_pricingtable03 div.column_2,
div.tsc_pricingtable03 div.column_3,
div.tsc_pricingtable03 div.column_4 { /* transitions */ -webkit-transition:box-shadow 0.1s ease; -moz-transition:box-shadow 0.1s ease; -o-transition:box-shadow 0.1s ease; -ms-transition:box-shadow 0.1s ease; transition:box-shadow 0.1s ease;}
div.tsc_pricingtable03 div.column_1:hover,
div.tsc_pricingtable03 div.column_2:hover,
div.tsc_pricingtable03 div.column_3:hover,
div.tsc_pricingtable03 div.column_4:hover { position:relative; z-index:100; left:-5px; top:-15px; /* shadow */ box-shadow:5px 0px 30px rgba(0, 0, 0, 0.5); -webkit-box-shadow:5px 0px 30px rgba(0, 0, 0, 0.5); -moz-box-shadow:5px 0px 30px rgba(0, 0, 0, 0.5);}
div.tsc_pricingtable03 div.column_1:hover li.row_style_1,
div.tsc_pricingtable03 div.column_2:hover li.row_style_1,
div.tsc_pricingtable03 div.column_3:hover li.row_style_1,
div.tsc_pricingtable03 div.column_4:hover li.row_style_1,
div.tsc_pricingtable03 div.column_1:hover li.row_style_2,
div.tsc_pricingtable03 div.column_2:hover li.row_style_2,
div.tsc_pricingtable03 div.column_3:hover li.row_style_2,
div.tsc_pricingtable03 div.column_4:hover li.row_style_2,
div.tsc_pricingtable03 div.column_1:hover li.row_style_3,
div.tsc_pricingtable03 div.column_2:hover li.row_style_3,
div.tsc_pricingtable03 div.column_3:hover li.row_style_3,
div.tsc_pricingtable03 div.column_4:hover li.row_style_3,
div.tsc_pricingtable03 div.column_1:hover li.row_style_4,
div.tsc_pricingtable03 div.column_2:hover li.row_style_4,
div.tsc_pricingtable03 div.column_3:hover li.row_style_4,
div.tsc_pricingtable03 div.column_4:hover li.row_style_4 { min-height:28px; padding-top:12px !important; padding-left:5px !important; padding-right:5px !important;}
div.tsc_pricingtable03 div.column_1:hover li.header_row_1,
div.tsc_pricingtable03 div.column_2:hover li.header_row_1,
div.tsc_pricingtable03 div.column_3:hover li.header_row_1,
div.tsc_pricingtable03 div.column_4:hover li.header_row_1 { padding-left:5px !important; padding-right:5px !important; border-radius:5px 5px 0px 0px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;}
div.tsc_pricingtable03 div.column_1:hover li.header_row_2,
div.tsc_pricingtable03 div.column_2:hover li.header_row_2,
div.tsc_pricingtable03 div.column_3:hover li.header_row_2,
div.tsc_pricingtable03 div.column_4:hover li.header_row_2 { padding-left:5px !important; padding-right:5px !important;}
div.tsc_pricingtable03 div.column_1:hover li.footer_row,
div.tsc_pricingtable03 div.column_2:hover li.footer_row,
div.tsc_pricingtable03 div.column_3:hover li.footer_row,
div.tsc_pricingtable03 div.column_4:hover li.footer_row { padding-left:5px !important; padding-right:5px !important;}

div.tsc_pricingtable03 li.row_style_1,
div.tsc_pricingtable03 li.row_style_2,
div.tsc_pricingtable03 li.row_style_3,
div.tsc_pricingtable03 li.row_style_4 { width:100%; height:100%; min-height:26px; padding-top:9px !important; float:left;}
div.tsc_pricingtable03 li.row_style_1 span,
div.tsc_pricingtable03 li.row_style_2 span,
div.tsc_pricingtable03 li.row_style_3 span,
div.tsc_pricingtable03 li.row_style_4 span { padding-left:10px !important; padding-right:10px !important;}
div.tsc_pricingtable03 li.row_style_1 { background-color:#ffffff; border-bottom:1px dotted #ccc;}
div.tsc_pricingtable03 li.row_style_2 { background-color:#f6f6f6; border-bottom:1px dotted #ccc;}
div.tsc_pricingtable03 li.row_style_3 { background-color:#ebebeb; border-bottom:1px dotted #ccc;}
div.tsc_pricingtable03 li.row_style_4 { background-color:#e3e3e3; border-bottom:1px dotted #ccc;}

div.tsc_pricingtable03 li.footer_row { width:100%; height:40px; padding-top:14px !important; padding-bottom:6px !important; float:left; border-bottom:1px solid #ccc; background-color:#e2e2e2; }
div.tsc_pricingtable03 a.sign_up { width:66%; height:24px; padding:6px 0px 0px 0px !important; display:block; text-align:center; margin-left:auto; margin-right:auto; text-shadow:0px 1px 0px #ffffff; border:1px solid #b5b5b5; background-color:#d8d8d8; outline:none;  background-image:linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8); /* W3C */  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#d8d8d8'); /* IE5.5 - 7 */ -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#d8d8d8'); background:-ms-linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8); background:-moz-linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8); background:-o-linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8); background:-webkit-linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8);  background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(0.05, #efefef), color-stop(1, #d8d8d8)); box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); -webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); font-weight:bold;}
div.tsc_pricingtable03 a.sign_up:hover { height:24px; padding:6px 0px 0px 0px !important; text-shadow:0px 1px 0px #ffffff; border:1px solid #b5b5b5; background-color:#c9c9c9; outline:none; background-image:linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#c9c9c9'); /* IE5.5 - 7 */ -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#c9c9c9'); /* IE8 */ background:-ms-linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9); background:-moz-linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9); background:-o-linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9); background:-webkit-linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9);  background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #d2d2d2), color-stop(0.05, #dedede), color-stop(1, #c9c9c9)); box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); -webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);}

.tsc_buttons2 { display:inline-block; text-decoration:none; outline:none; cursor:pointer; font:bold 12px/1em Arial, sans-serif; padding:8px 11px; color:#555; text-shadow:0 1px 0 #fff; background:#f5f5f5; background:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); background:-moz-linear-gradient(top, #f9f9f9, #f0f0f0); border:1px solid #dedede; border-color:#dedede #d8d8d8 #d3d3d3; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb; -moz-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb; box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb;}
.tsc_buttons2:hover,
.tsc_buttons2:focus { color:#555; background:#efefef; background:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9)); background:-moz-linear-gradient(top, #f9f9f9, #e9e9e9); border-color:#ccc; -webkit-box-shadow:0 2px 1px #e0e0e0, inset 0 1px 0 #fbfbfb; -moz-box-shadow:0 2px 1px #e0e0e0, inset 0 1px 0 #fbfbfb; box-shadow:0 1px 2px #e0e0e0, inset 0 1px 0 #fbfbfb;}
.tsc_buttons2:active { position:relative; top:1px; color:#555; background:#efefef; background:-webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f4f4f4)); background:-moz-linear-gradient(top, #eaeaea, #f4f4f4); border-color:#c6c6c6; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd; box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd;}
.tsc_buttons2.rounded { padding:8px 15px; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
input.tsc_buttons2,
button.tsc_buttons2 {  *width:auto; *overflow:visible;} /* IE7 Fix */
.tsc_buttons2 img { border:none; vertical-align:bottom;}


/*  Large buttons */
.tsc_buttons2.large { padding:12px 15px; font-size:20px; font-weight:normal; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.tsc_buttons2.large.rounded { padding:12px 22px; -webkit-border-radius:23px; -moz-border-radius:23px; border-radius:23px;}

/*  Red */
.tsc_buttons2.red { background:#e6433d; background:-webkit-gradient(linear, left top, left bottom, from(#f8674b), to(#d54746)); background:-moz-linear-gradient(top, #f8674b, #d54746); border-color:#d1371c #d1371c #9f220d; color:#fff; text-shadow:0 1px 1px #961a07; -webkit-box-shadow:0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573; -moz-box-shadow:0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573; box-shadow:0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573;}
.tsc_buttons2.red:hover,
.tsc_buttons2.red:focus { background:#dd3a37; background:-webkit-gradient(linear, left top, left bottom, from(#ff7858), to(#cc3a3b)); background:-moz-linear-gradient(top, #ff7858, #cc3a3b); border-color:#961a07; -webkit-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #ff9573; -moz-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #ff9573; box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #ff9573;}
.tsc_buttons2.red:active { background:#e6433d; border-color:#961a07; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #961a07; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #961a07; box-shadow:0 1px 0 #fff, inset 0 0 5px #961a07;}

/*  Black */
.tsc_buttons2.black { background:#525252; background:-webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343)); background:-moz-linear-gradient(top, #5e5e5e, #434343); border-color:#4c4c4c #313131 #1f1f1f; color:#fff; text-shadow:0 1px 1px #2e2e2e; -webkit-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #868686; -moz-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #868686; box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #868686;}
.tsc_buttons2.black:hover,
.tsc_buttons2.black:focus { background:#4b4b4b; background:-webkit-gradient(linear, left top, left bottom, from(#686868), to(#363636)); background:-moz-linear-gradient(top, #686868, #363636); border-color:#313131; -webkit-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #868686; -moz-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #868686; box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #868686;}
.tsc_buttons2.black:active { background:#525252; border-color:#313131; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #313131; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #313131; box-shadow:0 1px 0 #fff, inset 0 0 5px #313131;}

/*  Grey */
.tsc_buttons2.grey { background:#969696; background:-webkit-gradient(linear, left top, left bottom, from(#ababab), to(#818181)); background:-moz-linear-gradient(top, #ababab, #818181); border-color:#a0a0a0 #7c7c7c #717171; color:#fff; text-shadow:0 1px 1px #444; -webkit-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #bebebe; -moz-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #bebebe; box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #bebebe;}
.tsc_buttons2.grey:hover,
.tsc_buttons2.grey:focus { background:#868686; background:-webkit-gradient(linear, left top, left bottom, from(#b0b0b0), to(#6f6f6f)); background:-moz-linear-gradient(top, #b0b0b0, #6f6f6f); border-color:#666 #666 #606060; -webkit-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #bebebe; -moz-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #bebebe; box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #bebebe;}
.tsc_buttons2.grey:active { background:#909090; border-color:#606060; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #606060; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #606060; box-shadow:0 1px 0 #fff, inset 0 0 5px #606060;}


div.tsc_pricingtable03 a.tooltip { position:relative; text-decoration:none; border-bottom: 1px dotted #666;}
div.tsc_pricingtable03 a.tooltip:hover { color:#666; text-decoration:none; border-bottom: 1px dotted red;}
div.tsc_pricingtable03 a.tooltip:hover:after,
div.tsc_pricingtable03 a.tooltip:hover:before { display:block;}
div.tsc_pricingtable03 a.tooltip:before { content:attr(rel); display:block; width:140px; position:absolute; z-index:1000; bottom:150%; left:-10px; padding:5px 10px 8px 10px; text-align:left; color:#ffffff; display:none; background:#404040; /* CSS2 */ }
div.tsc_pricingtable03 a.tooltip:after { content:""; display:block; width:0; height:0; position:absolute; z-index:1000; bottom:18px; left:-2px; border-left:6px solid transparent; border-right:6px solid transparent; border-top:6px solid #404040; display:none; background:transparent;}


div.tsc_pt3_style1 h1.col1,
div.tsc_pt3_style1 h1.col2,
div.tsc_pt3_style1 h1.col3,
div.tsc_pt3_style1 h1.col4 { color: #ffffff; }
div.tsc_pt3_style1 h1 span { color: #ffffff; }
div.tsc_pt3_style1 h2.col1,
div.tsc_pt3_style1 h2.col2,
div.tsc_pt3_style1 h2.col3,
div.tsc_pt3_style1 h2.col4 { color: #ffffff; }
div.tsc_pt3_style1 h2.caption { color: #999999; }
div.tsc_pt3_style1 h2.caption span { color: #999999; }
div.tsc_pt3_style1 h3.col1,
div.tsc_pt3_style1 h3.col2,
div.tsc_pt3_style1 h3.col3,
div.tsc_pt3_style1 h3.col4 { color: #ffffff; }
div.tsc_pt3_style1 div.caption_column li.header_row_1 { border-top: 0; border-bottom: 1px solid #ffffff; background-color: #ffffff; }
div.tsc_pt3_style1 div.caption_column li.header_row_2 { border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; background-color: #ffffff; }
div.tsc_pt3_style1 div.column_1 li.header_row_1 { border-top: 0; border-bottom: 1px solid #52b5d5; background-color: #52b5d5; }
div.tsc_pt3_style1 div.column_1 li.header_row_2 { border-top: 1px solid #64c3de; border-bottom: 1px solid #64c3de; background-color: #64c3de; }
div.tsc_pt3_style1 div.column_2 li.header_row_1 { border-top: 0; border-bottom: 1px solid #3591ca; background-color: #3591ca; }
div.tsc_pt3_style1 div.column_2 li.header_row_2 { border-top: 1px solid #44a3d5; border-bottom: 1px solid #44a3d5; background-color: #44a3d5; }
div.tsc_pt3_style1 div.column_3 li.header_row_1 { border-top: 0; border-bottom: 1px solid #1f5f9f; background-color: #1f5f9f; }
div.tsc_pt3_style1 div.column_3 li.header_row_2 { border-top: 1px solid #2972b0; border-bottom: 1px solid #2972b0; background-color: #2972b0; }
div.tsc_pt3_style1 div.column_4 li.header_row_1 { border-top: 0; border-bottom: 1px solid #1a3e7b; background-color: #1a3e7b; }
div.tsc_pt3_style1 div.column_4 li.header_row_2 { border-top: 1px solid #234e8e; border-bottom: 1px solid #234e8e; background-color: #234e8e; }



/* PRICING TABLE STYLE 4 */
/* Pricing Table ************************************************************ */
.tsc_pricingtable04 {  
	margin: 0 auto;
	width: 936px;
	font-family: arial,helvetica;
}
.tsc_pricingtable04 ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.tsc_pricingtable04 ul.price-box { 
	float: left; 
	width: 188px; 
	margin: 0 -1px 0 0; 
	text-align: center;
}
.tsc_pricingtable04 ul.price-box li.pricing-header,
.tsc_pricingtable04 ul.price-box li.pricing-content,
.tsc_pricingtable04 ul.price-box li.pricing-footer {
	padding: 10px;
}
.tsc_pricingtable04 ul.price-box li.pricing-content,
.tsc_pricingtable04 ul.price-box li.pricing-footer {
	background-color: #f9f9f9;	
}

.tsc_pricingtable04 ul.price-box li.pricing-header {

	border: 1px solid #fff;
	border-radius: 14px 14px 0 0;
	-moz-border-radius: 14px 14px 0 0;
	-webkit-border-radius: 14px 14px 0 0;
	-ms-border-radius: 14px 4px 0 0;	
	background: #000;

}
.tsc_pricingtable04 ul.price-box li.pricing-header > ul {
	position: relative;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 18px 0px 40px 0px;
	color: #fff;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.price {
	position: relative;
	color: #fff;
	padding-bottom: 10px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.price span.currency {
	font-size: 30px;
    position: relative;
    top: -39px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.price span.big {
	font-size: 90px;
	font-weight: bold;
	letter-spacing: -4px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.price span.small {
	font-size: 36px;
    font-weight: bold;
    position: relative;
    top: -35px;
    margin: 0 0 0 2px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.month-label {
	color: #97a3ae;
	padding: 0 0 10px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header li.most-popular-label {
	position: absolute;
	left: 30px;
	top: 228px;
	line-height: 22px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header li.most-popular-label span {
	background: #77bdd4;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
  padding: 2px 10px;
	border: 3px solid #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;	
}

.tsc_pricingtable04 ul.price-box li.pricing-content {
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
}
.tsc_pricingtable04 ul.price-box li.pricing-content ul li {
	padding: 10px 0;
	border-bottom: 1px solid #ececec;
}
.tsc_pricingtable04 ul.price-box li.pricing-content ul li.big-description {
	padding: 15px 0 20px 0;
}


.tsc_pricingtable04 ul.price-box li.pricing-footer {
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-ms-border-radius: 0 0 4px 4px;
	padding: 20px 10px 30px;
}
.tsc_pricingtable04 ul.price-box li.pricing-footer a.buy-now {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border: 1px solid #ccc;
	background: #eeeeee;

	box-shadow: 0 1px 1px #fff inset; 
	-moz-box-shadow: 0 1px 1px #fff inset;
	-webkit-box-shadow: 0 1px 1px #fff inset;
	-ms-box-shadow: 0 1px 1px #fff inset;
	color: #33383d;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 32px;
}
.tsc_pricingtable04 ul.price-box li.pricing-footer a.buy-now:hover {
	background: #FFE600;

}

.tsc_pricingtable04 ul.price-box:hover { 
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	-ms-transform: scale(1.1);
  	-moz-box-shadow:0px 5px 7px rgba(0,0,0,.1);
  	-webkit-box-shadow: 0px 5px 7px rgba(0,0,0,.1);
  	-ms-box-shadow: 0px 5px 7px rgba(0,0,0,.1);
  	box-shadow:0px 5px 7px rgba(0,0,0,.1);

	
}
.tsc_pricingtable04 ul.price-box:hover li.pricing-content,
.tsc_pricingtable04 ul.price-box:hover li.pricing-footer {
	background-color: #fff;		
}









/* *** WHITE/DARK PRICING TABLES *** */

.tsc_pricingtable05 table {
	width: 100%;
	background: #f8f8f8;
	font-family: arial,helvetica;	

	border: 1px solid #ccc;

		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		border-radius: 1px;
		-moz-box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
		-webkit-box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
		box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);      	
		border-collapse:collapse;
	padding:0px;margin:0;

	}
	
.w_table_l_grey{
	background-color:#f6f6f6;
}
.w_table_d_grey{
	background-color:#eeeeee;
}

.tsc_pricingtable05 table th {
	border-left: 1px dotted #D5D5D5;
    border-right: 1px dotted #D5D5D5;
    border-top: 1px dotted #D5D5D5;
    color: #2F2F2F;
    font-size: 26px;
    height: 90px;
    background: #f6f6f6;
    line-height: 120%;
    }
    
	
.tsc_pricingtable05 table th span {
	color: #23B0F1;
    font-size: 14px;}
	
.tsc_pricingtable05 table tr {
	height: 30px;
    text-align: center;}
	
.tsc_pricingtable05 table .grey {
	background-color:#fff;}
	
.tsc_pricingtable05 table tr td {
	border-left: 1px dotted #D5D5D5;
    border-right: 1px dotted #D5D5D5;
 
    font-weight: bold;}

.tsc_pricingtable05 table .btn td {
	border-left: 1px dotted #D5D5D5;
    border-right: 1px dotted #D5D5D5;
	border-bottom: 1px dotted #D5D5D5;}
	
.tsc_pricingtable05 table tr .border_blue {
	border-left: 1px dotted #d7d7d7;
	border-right: 1px dotted #d7d7d7;
	background: #ededed;}
	
.tsc_pricingtable05 table tr th.border_blue {
	border-left: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;}

.tsc_pricingtable05 table tr .border_blue_bottom {
	border-bottom: 1px solid #d7d7d7;}
.tsc_pricingtable05 table tfoot td.border_blue{
	border-bottom: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}
	
.tsc_pricingtable05 .pricing_btn {
	border-bottom: 1px solid #D5D5D5;
    height: 80px !important;
	text-align:center;
}
	
.pricing_btn .the_button{
    float: none;
    margin-top: 0;
}
	
.tsc_pricingtable05 .pricing_btn .pricing_btn_orbed {
    clear: both;
    display: block;
    float: left;
    height: 44px;
    margin: 0 0 0 52px;
    padding-left: 13px;}
	
.tsc_pricingtable05 .pricing_btn .pricing_btn_orbed span {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 24px;
    height: 44px;
    line-height: 45px;
    min-width: 100px;
    padding: 0 10px 0 0;}
	
.tsc_pricingtable06 {}

.tsc_pricingtable06 .the_button{
	border:#1b1b1b solid 1px !important;
}
	
.tsc_pricingtable06 table {
	width: 100%;
	background-color: #484848;
	font-family: arial,helvetica;
	border: 1px solid #ccc;

		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		border-radius: 1px;
		-moz-box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
		-webkit-box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
		box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);      	
		border-collapse:collapse;
	padding:0px;margin:0;
	
	}
	
.d_table_l_grey{
	background-color:#303030
}
.d_table_d_grey{
	background-color:#3a3a3a
}
	
.tsc_pricingtable06 table th {
	border-left: 1px dotted #252525;
    border-right: 1px dotted #252525;
    color: #ffffff;
    line-height: 120%;    
    font-size: 26px;
    height: 90px;}
	
.tsc_pricingtable06 table th span {
	color: #a9a9a9;
    font-size: 14px;}
	
.tsc_pricingtable06 table tr {
	height: 30px;
    text-align: center;}
	
.tsc_pricingtable06 table .grey {
	background-color:#3a3a3a;}
	
.tsc_pricingtable06 table tr td {
	border-left: 1px dotted #252525;
    border-right: 1px dotted #252525;
    color: #FFFFFF;
    font-weight: bold;}

.tsc_pricingtable06 .pricing_btn {height: 80px !important;}
	
.pricing_black_btn {
	background: url("images/blue_bl_bg_black.jpg") repeat-x scroll 0 0 transparent;
    border: 1px dotted #454545;
    color: #FFFFFF;
    font-size: 24px;
    height: 44px;
    padding: 9px 10px;}	

.pricing_blue_btn {
	background: url("images/blue_bl_bg_blue.jpg") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 24px;
    height: 44px;
    padding: 9px 10px;}	

.the_button {
	border-bottom: 1px dotted #9f9f9f;
	border-right: 1px dotted #c5c5c5;
	border-left: 1px dotted #c5c5c5;
	float: left;
	color: #050505;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 33px;
	letter-spacing: -0.7px;
	line-height: 33px;
	margin: 0;
	text-align: center;
	width: auto;
	padding:0 15px;
	position:relative;
	z-index:1002;
	
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	background: #dddddd;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#dddddd));
	background: -webkit-linear-gradient(#ffffff, #dddddd);
	background: -moz-linear-gradient(#ffffff, #dddddd);
	background: -ms-linear-gradient(#ffffff, #dddddd);
	background: -o-linear-gradient(#ffffff, #dddddd);
	background: linear-gradient(#ffffff, #dddddd);
	-pie-background: linear-gradient(#ffffff, #dddddd);	
}
	
.the_button:hover, .the_button.active {
	color: #ffffff;	
	border-bottom: 1px solid #9f9f9f;
	border-right: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	
	background: #2e2e2e;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2e2e2e), to(#2e2e2e));
	background: -webkit-linear-gradient(#2e2e2e, #2e2e2e);
	background: -moz-linear-gradient(#2e2e2e, #2e2e2e);
	background: -ms-linear-gradient(#2e2e2e, #2e2e2e);
	background: -o-linear-gradient(#2e2e2e, #2e2e2e);
	background: linear-gradient(#2e2e2e, #2e2e2e);
	-pie-background: linear-gradient(#2e2e2e, #2e2e2e);  
	}
	
	





